/* TODO */

body {
  width             : 95%;
  min-width         : 1250px;
  margin            : 0 auto;
}

#in, #out {
  background-color  : #eee;
  width             : 49%;
  border            : 1px solid #ccc;
  text-align        : left;
}

#in         { float       : left;           }
#out        { float       : right;          }
.clear      { clear       : both;           }

#info       { border      : 1px solid #ccc; }
.error      { color       : red;            }
.ok         { color       : green;          }

#page, button, select {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
    Terminal, monospace; /* from fnjs github template */
}

#examples           { display     : inline; }
.center             { text-align  : center; }
.CodeMirror-scroll  { height      : 500px;  }

/* -- */

/* button, select { font-size : 1em; } */

/*
.CodeMirror-scroll {
  height            : auto;
  overflow-y        : hidden;
  overflow-x        : auto;
  width             : 100%;
}
*/

/* -- */
