/* TODO */

body {
  width             : 90%;
  margin            : 0 auto;
}

#in, #out {
  background-color  : #eee;
  width             : 49%;
  border            : 1px solid #ccc;
  text-align        : left;
}

#fnjs, #js {
  font-size         : 1.2em;
}

/* -- */

#in {
  float             : left;
}

#out {
  float             : right;
}

.clear {
  clear             : both;
}

/* -- */

.center {
  text-align        : center;
}

.fixed {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
    Terminal, monospace; /* from fnjs github template */
}

/* -- */

.CodeMirror-scroll {
  height            : auto;
  overflow-y        : hidden;
  overflow-x        : auto;
  width             : 100%;
}

/* -- */
