/* TODO */

body {
  width             : 920px;
  margin            : 0 auto;
}

#in, #out {
  background-color  : #eee;
}

.center {
  text-align        : center;
}

.CodeMirror-scroll {
  height            : auto;
  overflow-y        : hidden;
  overflow-x        : auto;
  width             : 100%;
}
